* {
  font-family: "Work Sans", sans-serif;
  color: rgb(253, 253, 253);
  padding: 0px;
  margin: 0px;
}
.container {
  display: flex;
  background-image: url(assets/bg.jpg);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

/* ---------------------------SWITCH START--------------------------- */
/* The switch -*/
.switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2e2f38;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #4e505f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ---------------------------SWITCH END--------------------------- */

.calculator-case {
  width: 375px;
  height: 812px;
  background-color: #17171c;
  border-radius: 24px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.status-bar {
  justify-content: space-between;
  width: 375px;
  height: 44px;
}

.time {
  padding-top: 17px;
  padding-left: 19px;
  font-size: 15px;
  line-height: 20px;
  width: 54px;
  height: 21px;
}

.notch {
  width: 164px;
  height: 31px;
}
.icons {
  justify-content: space-evenly;
  padding-top: 22px;
  padding-right: 19px;
  width: 66px;
  height: 11px;
}

.theme {
  padding-left: 140px;
  padding-top: 20px;
}

.calculator {
  align-items: flex-end;
  padding-top: 50px;
  gap: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

.equation {
  font-size: 40px;
  color: #4e505f;
  font-weight: 200;
  width: 100%;
  overflow-x: auto;
  text-align: end;
}

.results {
  font-size: 96px;
  color: white;
  font-weight: 200;
  width: 100%;
  overflow-x: auto;
  text-align: end;
}

.key {
  width: 72px;
  height: 72px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  font-size: 32px;
}

.low-emphasis {
  background-color: #2e2f38;
}
.low-emphasis:active {
  background-color: #8689a6;
}

.medium-emphasis {
  background-color: #4e505f;
}
.medium-emphasis:active {
  background-color: #a4a9ca;
}

.high-emphasis {
  background-color: #4b5efc;
}
.high-emphasis:active {
  background-color: #171d4e;
}

.key-row {
  width: 100%;
  justify-content: space-around;
}

.buttons {
  width: 100%;
  gap: 16px;
}

.home-indicator {
  justify-content: center;
  align-items: end;
  padding-top: 35px;
}

.home-indicator div {
  height: 5px;
  width: 134px;
  background-color: white;
  border-radius: 100px;
}
